*, *::after, *::before {
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

body {
    background:linear-gradient(90deg, rgba(159,245,171,1) 0%, rgba(24,201,201,1) 48%, rgba(0,212,255,1) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}

.clock{
    width: 300px;
    height: 300px;
    background-color: rgba(255,255,255, .8);
    border-radius: 50%;
    position: relative;
    -webkit-box-shadow: 1px 20px 101px -45px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 20px 101px -45px rgba(0,0,0,0.75);
    box-shadow: 1px 20px 101px -45px rgba(0,0,0,0.75);
}

.clock .number{
    --rotation: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    transform: rotate(var(--rotation));
    font-size: 1.5rem;
}

.clock .number1{ --rotation:30deg;}
.clock .number2{ --rotation:60deg;}
.clock .number3{ --rotation:90deg;}
.clock .number4{ --rotation:120deg;}
.clock .number5{ --rotation:150deg;}
.clock .number6{ --rotation:180deg;}
.clock .number7{ --rotation:210deg;}
.clock .number8{ --rotation:240deg;}
.clock .number9{ --rotation:270deg;}
.clock .number10{ --rotation:300deg;}
.clock .number11{ --rotation:330deg;}

.clock .hand{
    --rotation: 0;
    position: absolute;
    bottom: 50%;
    left: 50%;
    background-color: black;
    border: 1px solid white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transform-origin: bottom;
    transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
}

.clock::after{
    content: '';
    position: absolute;
    background-color: black;
    z-index: 11;
    width: 15px;
    height: 15px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.clock .hand.second{
    width: 3px;
    height: 40%;
    background-color: red;
}

.clock .hand.minute{
    width: 6px;
    height: 35%;
    background-color: black;
}

.clock .hand.hour{
    width: 7px;
    height: 25%;
    background-color:black;
}

p{
    margin-top: 50px;
    font-size: large;
    color: white
}